/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

header, main, article, section, aside, footer {
  padding: 1rem;
  /* minden szemantic containerben 1rem padding */
}

/* ---------- RESET END ---------- */

/* ---------- SEMANTIC CONTAINERS ---------- */

body {
    background-color: #292827;
    overflow-x: hidden;
}

header {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    border-bottom: 1px dashed #B6B6B7;
    z-index: 1;
}

main { /* <------------------- MAIN */
    height: 100vh;
    padding-top: 6rem;
    border-bottom: 1px dashed #B6B6B7;
}

section { /* <---------------- SKILLS / ABOUT */
    height: 100vh;
    padding-top: 4rem;
    border-bottom: 1px dashed #B6B6B7;
}

article { /* <---------------- CONTACT */
    height: 100vh;
    padding-top: 4rem;
    background-color: #292827;
}

/* ---------- HEADER ----------*/

.nav-left-container {
    color: #36CABA;
    font-family: Jura;
    font-weight: 900;
    font-size: 1.2rem;
    opacity: 0.9;
    position: fixed;
}

.nav-right-container {
    color: #D79E66;
}

/* ---------- HAMBURGER ---------- */

.hamburger-button {
    display: flex;
    align-items: center;
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    width: 100%;
    background-color: #D79E66;
}

.hamburger-lines::before {
    content: "";
    background-color: #D79E66;
    top: -0.6rem;
}

.hamburger-lines::after {
    content: "";
    background-color: #D79E66;
    top: 0.6rem;
}

.menu__box {
    outline: 1px dashed #B6B6B7; 
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: #292827;
    visibility: hidden;
}

.menu__items {
    position: relative;
    top: 10%;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: Jura;
    text-align: center;
}

.menu__items:hover {
    cursor: pointer;
    color: #B48450;
}

#menu__toggle {
    visibility: hidden;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
}

nav ul li:last-child {
    color: #36CABA;
}

nav ul li:last-child:hover {
    color: #2B9A8E
}

/* ---------- HAMBURGER END ----------*/

/* ---------- MAIN ---------- */

/* ---------- CLOUDs ---------- */

.clouds-container {
    overflow-x: hidden;
}

.cloud {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    right: 150%;
    width: 30%;
    animation-name: cloud;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    animation-delay: 8s;
}

.cloud2 {
    position: absolute;
    overflow-x: hidden;
    z-index: -1;
    right: 150%;
    width: 35%;
    top: 4rem;
    animation-name: cloud2;
    animation-duration: 18s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}

.cloud3 {
    position: absolute;
    overflow-x: hidden;
    z-index: 1;
    right: 150%;
    width: 25%;
    top: 10rem;
    animation-name: cloud3;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
    animation-delay: 12s;
}

@keyframes cloud {
    from {right: 1%;}
    to {right: 150%;}
}

@keyframes cloud2 {
    from {right: 1%;}
    to {right: 150%;}
}

@keyframes cloud3 {
    from {right: 1%;}
    to {right: 150%;}
}

/* ---------- CLOUDs END ---------- */

.main-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperplane-container {
    display: flex;
    justify-content: center;
    max-width: 50%;
    margin: auto;
}

.paperplane {
    width: 100%;
    height: auto;
    transform: rotate(-15deg);
    animation-name: plane-anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes plane-anim {
    50% {transform: rotate(-25deg);}
}

main div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

h1 {
	font-size: 5rem;
    font-family: Brandon;
    color: #D79E66;
    font-weight: 600;
}

h2 {
	font-size: 1.5rem;
    color: #E4E3E3;
}

.frontend-title {
	font-size: 1.5rem;
    color: #36CABA;
    text-align: center;
    width: 90%;
}

.portfolio-btn { /* MINDEN GOMB ILYEN LEGYEN */
    font-size: 1.2rem;
    border: 1.5px solid #D79E66;
    border-radius: 0.2rem;
    margin-top: 2rem;
    height: 4rem;
    width: 13rem;
    color: #D79E66;
    line-height: 2.5rem;
    text-align: center;
}

.portfolio-btn:hover {
    cursor: pointer;
    background-color: #202124;
    opacity: 0.9;
}

main div {
    font-family: Jura;
}

/* ---------- SKILLS ---------- */

.skills-title {
    font-family: Jura;
    font-size: 2.5rem;
    color: #36CABA;
}

.skills-p {
    color: #E4E3E3;
    font-family: Brandon-reg;
    font-size: 1.1rem;
}

.htmlcssjs-container {
    /* outline: 1px solid yellow; */
    font-family: Brandon;
    display: flex;
    flex-direction: column;
    color: #E4E3E3;
    margin: 1rem 0;
}

.htmlcssjs-items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 3rem;
    /* outline: 1px solid green; */
    padding: 1.8rem 0;
    filter: grayscale(15%);
}

.htmlcssjs-logo-container {
    width: 2.2rem;
}

.htmlcssjs-logo-items {
    width: 100%;
    height: auto;
    opacity: 0.9;
}

/* ---------- PROGRESS BAR ---------- */

.progress {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 1rem;
    align-items: center;
    position: relative;
    display: flex;
    height: 1.2rem;
    width: 80%;
}

.progress-value-common {
    border-radius: 1rem;
    height: 1.2rem;
    opacity: 0.9;
    box-shadow: 0 0 10px -4px #E4E3E3;
    background-color: #36CABA;
}

@keyframes load1 {
    0% { width: 0; }
    100% { width: 80%; }
}

@keyframes load2 {
    0% { width: 0; }
    100% { width: 70%; }
}

@keyframes load3 { 
    0% { width: 0; }
    100% { width: 30%; }
}

.progress-value1 {
    animation: load1 3s normal forwards;
}

.progress-value2 {
    animation: load2 4s normal forwards;
}

.progress-value3 {
    animation: load3 2s normal forwards;
}

/* ---------- PROGRESS BAR END---------- */

.skills-icons-container {
    /* outline: 1px solid yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 0 1rem; */
}

.skills-icons {
    /* outline: 1px solid green; */
    width: 5rem;
    padding: 0 1rem;
}

.skills-icons-items {
    filter: grayscale(100%);
    width: 100%;
    height: auto;
}

.skills-icons-items:hover {
    opacity: 1;
    filter: grayscale(25%);
    opacity: 0.8;
}

section div {
    padding: 0 0.5rem;
}

section div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

.skills-p-container {
    color: #E4E3E3;
    font-family: Brandon-reg;
    font-size: 1.1rem;
}

.skills-responsive {
    color: #36CABA;
    font-family: Jura;
    font-size: 1.5rem;
}

/* ---------- SKILLS END ---------- */

/* ---------- ABOUT ---------- */

.about-title {
    font-family: Jura;
    font-size: 2.5rem;
    color: #36CABA;
}

.about-p {
    color: #E4E3E3;
    font-family: Brandon-reg;
    font-size: 1.1rem;
}

.aboutimg-container {
    display: flex;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    filter: grayscale(100%);
}

.aboutimg-container:hover {
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
    filter: none;
}

.aboutimg {
    width: 100%;
    height: auto;
}

.main-icons-container {
    outline: 1px solid green;
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container {
    width: 3rem;
    margin: 0 0.5rem;
}

.icon-items {
    width: 100%;
    filter: grayscale(100%);
}

.icon-items:hover {
    filter: none;
    cursor: pointer;
}

/* ---------- ABOUT END ---------- */


/* ---------- CONTACT ---------- */

article div {
    padding: 0 0.5rem;
}

article div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

.contact-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-title {
    font-family: Jura;
    font-size: 2.5rem;
    color: #36CABA;
}

.contact-p {
    color: #E4E3E3;
    font-family: Brandon-reg;
    font-size: 1.1rem;
}

.mailto {
    font-family: Brandon-reg;
    color: #36CABA;
    font-size: 1.3rem;
    text-decoration: none;
}

.contact-placeholders {
    font-family: Jura;
    width: 100%;
    margin: 0.3rem 0;
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 0.2rem;
    background-color: #3F3F3F;
    border: 1.5px solid #B6B6B7;
    color: #E4E3E3;
}

.contact-text {
    height: 30vh;
}

.contact-button { /* MINDEN GOMB ILYEN LEGYEN */
    font-family: Jura;
    font-size: 1.2rem;
    margin: 0.5rem 0;
    border: 1.5px solid #D79E66;
    border-radius: 0.2rem;
    height: 3.5rem;
    width: 11rem;
    line-height: 1.5rem;
    background-color: rgba(10, 10, 10, 0.001);
    color: #D79E66;
    text-align: center;
}

.contact-button:hover {
    cursor: pointer;
    background-color: #202124;
    opacity: 0.9;
}

::placeholder {
    color: #B6B6B7;
}

/* ---------- CONTACT END ---------- */


/* ---- FONTS ---- */

@font-face {
    font-family: Jura;
    src: url(../assets/fonts/Jura-Light.ttf);
}

@font-face {
    font-family: Brandon;
    src: url(../assets/fonts/BrandonText-Thin.otf);
}

@font-face {
    font-family: Brandon-reg;
    src: url(../assets/fonts/BrandonText-Regular.otf);
}

@font-face {
    font-family: Brandon-bold;
    src: url(../assets/fonts/BrandonText-Bold.otf);
}

/* ---- MEDIA Q`s ----*/

/* @media screen and (min-width: 576px) {

    .header-left-container {
        font-size: 1.6rem;
    }

    .menu__box {
        width: 45%;
    }

    .menu__items {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 2rem;
    }

    h1 {
        font-size: 3.3rem;
    }

    main div p {
        font-size: 1.3rem;
    }

    main div p:last-child {
        width: 14.5rem;
        height: 4rem;
        line-height: 2.5rem;
    }
} */

/* ---- COLORS ----

narancs         #D79E66
sötét narancs   #B48450

fehér           #E4E3E3     
szürke          #B6B6B7

türkiz          #36CABA
sötét türkiz    #2B9A8E

shark black     #202124 (gombok)
fekete háttér   #292827

*/

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    /* Retina styles here */
}