/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

header, main, article, section, aside, footer {
  padding: 1rem;
  /* minden szemantic containerben 1rem padding */
}

/* ---------- RESET END ---------- */

/* ---------- SEMANTIC CONTAINERS ---------- */

body { 
    background-color: #292827;
}

header {
    height: 4rem;
}

main {
    height: 93vh;
}

article {
    height: 100vh;
    background-color: #292827;
}

/* ---------- HEADER ----------*/

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left-container {
    color: #35CABA; /*kék*/
    font-family: Jura;
    font-weight: 900;
    font-size: 1.2rem;
    opacity: 0.9;
}

.header-right-container { /* menü elemek szine */ 
    color: #D79E66; /*narancs*/
}

/* ---------- HAMBURGER ---------- */

.hamburger-button {
    display: flex;
    align-items: center;
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    width: 100%;
    background-color: #D79E66;
}

.hamburger-lines::before {
    content: "";
    background-color: #D79E66;
    top: -0.6rem;
}

.hamburger-lines::after {
    content: "";
    background-color: #D79E66;
    top: 0.6rem;
}

.menu__box {
    outline: 1px solid #DFE1EE; 
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background-color: #292827;
    visibility: hidden;
}

.menu__items {
    position: relative;
    top: 10%;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: Jura;
    text-align: center;
}

.menu__items:hover {
    cursor: pointer;
    color: #DFE1EE;
}

#menu__toggle {
    visibility: hidden;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
}

nav ul li:last-child {
    color: #35CABA;
}

/* ---------- HAMBURGER END ----------*/

/* ---------- MAIN ---------- */

.main-container {
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paperplane-container {
    display: flex;
    justify-content: center;
    max-width: 55%;
    margin: auto;
}

.paperplane {
    width: 100%;
    height: auto;
}

main div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

h1 {
	font-size: 5rem;
    font-family: Brandon;
    color: #D79E66;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

h2 {
	font-size: 1.5rem;
    color: #DFE1EE;
}

.frontend-title {
	font-size: 1.5rem;
    color: #35CABA;
    text-align: center;
    width: 90%;
}

main div p {
    color: #DFE1EE;
    text-align: center;
}

main div p:last-child {
    border: 2px solid #D79E66;
    border-radius: 0.2rem; /* MINDEN GOMB ILYEN LEGYEN */
    margin-top: 2rem;
    height: 3rem;
    width: 11rem;
    color: #D79E66;
    line-height: 1.5rem;
}

main div p:last-child:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.9;
}

main div {
    font-family: Jura;
}

/* ---------- CONTACT ---------- */

article div {
    padding: 0 1rem;
}

article div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

.contact-container {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contact-title {
    /* outline: 1px solid yellow; */
    font-family: Jura;
    font-size: 3rem;
    color: #35CABA;
}

.contact-p {
    /* outline: 1px solid yellow; */
    color: #DFE1EE;
    font-family: Brandon;
}

.contact-form {

}

.contact-placeholders {
    font-family: Jura;
    width: 100%;
    margin: 0.5rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

.contact-text {
    height: 50vh;
}

.contact-button {
    font-family: Jura;
    border: 2px solid #D79E66;
    border-radius: 0.2rem; /* MINDEN GOMB ILYEN LEGYEN */
    height: 3rem;
    width: 8rem;
    line-height: 1.5rem;
    background-color: rgba(10, 10, 10, 0.001);
    color: #D79E66;
    text-align: center;
}

.contact-button:hover {
    cursor: pointer;
    background-color: black;
    opacity: 0.9;
}

/* ---------- CONTACT END ---------- */


/* ---- FONTS ---- */

@font-face {
    font-family: Jura;
    src: url(../assets/fonts/Jura-Light.ttf);
}

@font-face {
    font-family: Brandon;
    src: url(../assets/fonts/BrandonText-Thin.otf);
}

/* ---- MEDIA Q`s ----*/

/* @media screen and (min-width: 576px) {

    .header-left-container {
        font-size: 1.6rem;
    }

    .menu__box {
        width: 45%;
    }

    .menu__items {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 2rem; /* +30% bigger */
    }

    h1 {
        font-size: 3.3rem; /* +30% bigger */
    }

    main div p {
        font-size: 1.3rem;
    }

    main div p:last-child {
        width: 14.5rem;
        height: 4rem;
        line-height: 2.5rem;
    }
} */

/* ---- COLORS ----

color: #D79E66;     orange
color: #DFE1EE;     white
color: #35CABA;     zöldeskék
color: #051622;     háttér sötétkék

*/