/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

header, main, article, section, aside, footer {
  padding: 1rem;
  /* minden szemantic containerben 1rem padding */
}

/* ---------- RESET END ---------- */

/* ---------- SEMANTIC CONTAINERS ---------- */

header {
    background-color: #3E6E79;
    height: 4rem;
    outline: 1px solid white;
}

main {
    background-color: #3E6E79;
    height: 93vh;
}

/* ---------- HEADER ----------*/

.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid yellow;
}

.header-left-container {
    color: #D79E66;
    font-family: Gilroy;
    font-size: 1.2rem;
    text-shadow: 0.7px 0.7px 0.7px black;
}

.header-right-container {
    color: #D79E66;
}

/* ---------- HAMBURGER ---------- */

.hamburger-button {
    display: flex;
    align-items: center;
    position: fixed;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1;
}

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 2rem;
    height: 0.2rem;
    width: 100%;
    background-color: #D79E66;
}

.hamburger-lines::before {
    content: "";
    background-color: #D79E66;
    top: -0.6rem;
}

.hamburger-lines::after {
    content: "";
    background-color: #D79E66;
    top: 0.6rem;
}

.menu__box {
    outline: 1px solid white;
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding: 0;
    width: 12rem;
    height: 100%;
    background-color: lightgrey;
    visibility: hidden;
}

.menu__items {
    padding: 1rem;
    font-size: 1.5rem;
}

#menu__toggle {
    visibility: hidden;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
}

/* ---------- MAIN ---------- */

.main-container {
    outline: 1px solid yellow;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div * {
	padding: 0.5rem 0;  /* --- FONTOS SZABÀLY --- */
}

h1 {
	font-size: 1rem;
    color: #DFE1EE;
}

h2 {
	font-size: 2.5rem;
    font-family: Gilroy;
    color: #D79E66;
    text-shadow: 0.7px 0.7px 0.7px black;
}

h3 {
	font-size: 1.5rem;
    color: #D79E66;
}

main div p {
    color: #DFE1EE;
}

main div p:last-child {
    border: 2px solid #D79E66;
    margin-top: 3rem;
    height: 2rem;
    width: 10rem;
    text-align: center;
    color: #D79E66;
}

main div {
    font-family: Jura;
}

/* ---- FONTS ---- */

@font-face {
    font-family: Jura;
    src: url(../assets/fonts/Jura-Light.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/fonts/Gilroy-Bold.ttf);
}

/* ---- COLORS ----

color: #D79E66;     orange
color: #DFE1EE;     white

*/